body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.navbar {
    font-size: 50px;
    box-shadow: 0 0 10px black;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.test-content {
    display: flex;
}

#question-list {
    width: 20%;
    box-shadow: 0 0 10px black;
    height: 1000px;
}

#questions-list button {
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgb(104, 104, 104);
    background-color: transparent;
    font-size: 25px;
    
}

#question-page {
    width: 80%;
}